{% extends 'partials/base.html' %}
{% block title %}
    <title>
        Paiement - Soluco : La solution pour construire au pays
    </title>
    {% endblock title %}
{% load static %}
{% load humanize %}
{% block content %}     
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'core-index' %}" rel="nofollow">Accueil</a>
                    <span></span> Produit
                    <span></span> Paiement
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-sm-15">
                     
                        <!-- <div class="toggle_info">
                            <span><i class="fi-rs-user mr-10"></i><span class="text-muted">Already have an account?</span> <a href="#loginform" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to login</a></span>
                        </div>
                        <div class="panel-collapse collapse login_form" id="loginform">
                            <div class="panel-body">
                                <p class="mb-30 font-sm">If you have shopped with us before, please enter your details below. If you are a new customer, please proceed to the Billing &amp; Shipping section.</p>
                                <form method="post">
                                    <div class="form-group">
                                        <input type="text" name="email" placeholder="Username Or Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" placeholder="Password">
                                    </div>
                                    <div class="login_footer form-group">
                                        <div class="chek-form">
                                            <div class="custome-checkbox">
                                                <input class="form-check-input" type="checkbox" name="checkbox" id="remember" value="">
                                                <label class="form-check-label" for="remember"><span>Remember me</span></label>
                                            </div>
                                        </div>
                                        <a href="#">Forgot password?</a>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-md" name="login">Log in</button>
                                    </div>
                                </form>
                            </div>
                        </div> -->
                    </div>

                    <div class="col-lg-6">
                        <!-- <div class="toggle_info">
                            <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter your code</a></span>
                        </div>
                        <div class="panel-collapse collapse coupon_form " id="coupon">
                            <div class="panel-body">
                                <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                                <form method="post">
                                    <div class="form-group">
                                        <input type="text" placeholder="Enter Coupon Code...">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn  btn-md" name="login">Apply Coupon</button>
                                    </div>
                                </form>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="totall-product">
                            <p> Vous avez <strong class="text-brand">{{totalcartitems}}</strong> produit{{totalcartitems|pluralize}} dans votre panier</p>
                        </div>
                        <div class="divider mt-50 mb-50"></div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-25">
                            <h4>Information</h4>
                        </div>
                        <form method="post">
                            <div class="form-group">
                                <input type="text" required="" name="fname" value="{{request.user.username|title}}" placeholder="Nom d'utilisateur *">
                            </div>
                            <div class="form-group">
                                <input type="text" required="" name="lname" placeholder="Numéro de téléphone *" value="{{active_address.mobile}}">
                            </div>
                            
                            <div class="form-group">
                                <input type="text" name="billing_address" value="{{active_address.address}}" required="" placeholder="Address *">
                            </div>
                          
                          
                            <!-- <div class="form-group">
                                <div class="checkbox">
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="createaccount">
                                        <label class="form-check-label label_info" data-bs-toggle="collapse" href="#collapsePassword" data-target="#collapsePassword" aria-controls="collapsePassword" for="createaccount"><span>Create an account?</span></label>
                                    </div>
                                </div>
                            </div>
                            <div id="collapsePassword" class="form-group create-account collapse in">
                                <input required="" type="password" placeholder="Password" name="password">
                            </div> -->
                            <!-- <div class="ship_detail">
                                <div class="form-group">
                                    <div class="chek-form">
                                        <div class="custome-checkbox">
                                            <input class="form-check-input" type="checkbox" name="checkbox" id="differentaddress">
                                            <label class="form-check-label label_info" data-bs-toggle="collapse" data-target="#collapseAddress" href="#collapseAddress" aria-controls="collapseAddress" for="differentaddress"><span>Ship to a different address?</span></label>
                                        </div>
                                    </div>
                                </div>
                                <div id="collapseAddress" class="different_address collapse in">
                                    <div class="form-group">
                                        <input type="text" required="" name="fname" placeholder="First name *">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" required="" name="lname" placeholder="Last name *">
                                    </div>
                                    <div class="form-group">
                                        <input required="" type="text" name="cname" placeholder="Company Name">
                                    </div>
                                    
                                </div>
                            </div> -->
                            <!-- <div class="mb-20">
                                <h5>Additional information</h5>
                            </div>
                            <div class="form-group mb-30">
                                <textarea rows="5" placeholder="Order notes"></textarea>
                            </div> -->
                        </form>
                    </div>
                    <div class="col-md-6">
                        <div class="order_review">
                            <div class="mb-20">
                                <h4>Vos commandes</h4>&nbsp;<span><h5>Total: <span class="text-brand">{{cart_total_amount|floatformat:0|intcomma}} GNF</span></h5></span><hr>
                                <a href="{% url 'core-cart' %}" class="btn btn-fill-out btn-block mt-30">Revenir au panier</a>
                            </div>
                            <div class="table-responsive order_table text-center">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Produit</th>
                                            <th>Sous total</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for product_id, item in cart_data.items %}
                                        <tr>
                                            <td class="image product-thumbnail"><img src="{{item.image}}" alt="#"></td>
                                            <td>
                                                <h5><a href="{% url 'core-product-detail' item.pid %}">{{item.title}}</a></h5> <span class="product-qty">x {{item.qty}}</span>
                                            </td>
                                            <td>{{item.price|intcomma}} GNF</td>
                                            <td><strong>{{item.total_price|floatformat:0|intcomma}} GNF</strong></td>
                                        </tr>
                                       
                                        {% endfor %}
                                        <tr>
                                            <td><h3>TOTAL</h3></td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td><strong>{{cart_total_amount|floatformat:0|intcomma}} GNF</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                            <div class="payment_method">
                                <div class="mb-25">
                                    <h5>Payment</h5>
                                </div>
                                <div class="payment_option">
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios3">
                                        <label class="form-check-label" for="exampleRadios3" data-bs-toggle="collapse" data-target="#cashOnDelivery" aria-controls="cashOnDelivery">Cash On Delivery</label>                                        
                                    </div>
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios4">
                                        <label class="form-check-label" for="exampleRadios4" data-bs-toggle="collapse" data-target="#cardPayment" aria-controls="cardPayment">Card Payment</label>                                        
                                    </div>
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios5">
                                        <label class="form-check-label" for="exampleRadios5" data-bs-toggle="collapse" data-target="#paypal" aria-controls="paypal">Paypal</label>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="w-50">
                                {{paypal_payment_button.render}}
                            </div>
                            <!-- <a href="#" class="btn btn-fill-out btn-block mt-30">Place Order</a> -->
                           
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}