{% extends 'partials/base.html' %}
{% block title %}
<title>
    Contactez-nous - Soluco : La solution pour construire au pays
</title>
{% endblock title %}
{% load static %}
{% load humanize %}
{% block content %}   
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'core-index' %}" rel="nofollow">Accueil</a>                    
                    <span></span> Contactez-nous
                </div>
            </div>
        </div>                
        <section class="pt-50 pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10 m-auto">
                        <div class="contact-from-area padding-20-row-col wow FadeInUp">
                            <h3 class="mb-10 text-center">Drop Us a Line</h3>
                            <p class="text-muted mb-30 text-center font-sm contact_us_p">Lorem ipsum dolor sit amet consectetur.</p>
                            <h4 class="text-success" id="message-response"></h4>
                            <form class="contact-form-style text-center" id="contact-form-ajax" action="" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="input-style mb-20">
                                            <input name="name" id="full_name" placeholder="Nom complet..." type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="input-style mb-20">
                                            <input name="email" id="email" placeholder="Votre E-mail..." type="email">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="input-style mb-20">
                                            <input name="telephone" id="phone" placeholder="Téléphone..." type="tel">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="input-style mb-20">
                                            <input name="subject" id="subject" placeholder="Le sujet..." type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="textarea-style mb-30">
                                            <textarea name="message" id="message" placeholder="Message"></textarea>
                                        </div>
                                        <button class="submit submit-auto-width" type="submit">Envoyer le message</button>
                                    </div>
                                </div>
                            </form>
                            <p class="form-messege"></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}