{% extends 'partials/base.html' %}
{% block title %}
<title>
    Tableau de bord {{vendor.title}}- Soluco : La solution pour construire au pays
</title>
{% endblock title %}
{% load static %}
{% load humanize %}
{% block content %}
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="{% url 'core-index' %}" rel="nofollow">Accueil</a>
                <span></span> Tableau de bord
            </div>
        </div>
    </div>
    <section class="pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="dashboard-menu">
                                <ul class="nav flex-column" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="profile-tab" data-bs-toggle="tab" href="#profile"
                                            role="tab" aria-controls="profile" aria-selected="false"><i
                                                class="fi-rs-user mr-10"></i>Profil</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="dashboard-tab" data-bs-toggle="tab"
                                            href="#dashboard" role="tab" aria-controls="dashboard"
                                            aria-selected="false"><i
                                                class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders"
                                            role="tab" aria-controls="orders" aria-selected="false"><i
                                                class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab"
                                            href="#track-orders" role="tab" aria-controls="track-orders"
                                            aria-selected="false"><i class="fi-rs-money mr-10"></i>Préfinancement</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address"
                                            role="tab" aria-controls="address" aria-selected="true"><i
                                                class="fi-rs-marker mr-10"></i>My Address</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab"
                                            href="#account-detail" role="tab" aria-controls="account-detail"
                                            aria-selected="true"><i class="fi-rs-user mr-10"></i>Account details</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#logoutModal"><i
                                                class="fi-rs-sign-out mr-10"></i>Se déconnecter</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="tab-content dashboard-content">
                                <div class="tab-pane fade active show" id="profile" role="tabpanel"
                                    aria-labelledby="profile-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">Mon Profil </h5>
                                        </div>
                                        <div class="card-body row" style="display: flex; align-items: center; gap: 10px;">
                                            <div class="col-md-4">
                                                {% if profile.image %}
                                                    <p><span><img src="{{profile.image.url}}" style="height: 150px; width:150px;  border-radius:50%;" alt="{{profile.full_name}}"></span></p>
                                                {% else %}
                                                    <p><span><img src="{% static 'assets/imgs/page/default.png' %}" style="height: 150px; width:150px;  border-radius:50%;" alt="{{profile.full_name}}"></span></p>
                                                {% endif %}
                                            </div>
                                            <div  class="col-md-8" style="width: 100%;">
                                                <p><span><strong></strong><input type="text" name="" id="" value="Nom complet: {{profile.full_name}}"></span></p>
                                                <p><span><input type="text" name="" id="" value="Bio: {{profile.bio}}"></span></p>
                                                <p><span><input type="text" name="" id="" value="Téléphone: {{profile.phone}}"></span></p>
                                      
                                                {% if profile.verified == True %}
                                                <p class="p-2 border rounded"><span>Vérifier </span><span><i class="fa fa-check-circle">✅</i></span></p>
                                                {% else %}
                                                <p class="p-2 border rounded"><span>Non vérifier </span><span><i class="fa fa-x">❌</i></span></p>
                                                {% endif %}
                                                <a href="{% url 'userauths-profile-update' %}" class="btn btn-sm"><span>Éditer </span><span><i class="fa fa-pencil">🖊️</i></span></a>
                                            </div>
                                        </div>
                                        <!-- <div class="mt-4">
                                            {{month}}
                                            {{total_orders}}
                                        </div> -->

                                        <!-- <div>
                                            <canvas style="height: 50px;" id="myChart"></canvas>
                                        </div> -->


                                    </div>
                                </div>
                                <div class="tab-pane fade" id="dashboard" role="tabpanel"
                                    aria-labelledby="dashboard-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">Hello {{request.user|title}}! </h5>
                                        </div>
                                        <div class="card-body">
                                            <p>From your account dashboard. you can easily check &amp; view your <a
                                                    href="#">recent orders</a>, manage your <a href="#">shipping and
                                                    billing addresses</a> and <a href="#">edit your password and account
                                                    details.</a>
                                                </p>
                                        </div>
                                        <!-- <div class="mt-4">
                                            {{month}}
                                            {{total_orders}}
                                        </div> -->

                                        <div>
                                            <canvas style="height: 50px;" id="myChart"></canvas>
                                        </div>


                                    </div>
                                </div>
                                <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">Your Orders</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Order</th>
                                                            <th>Date</th>
                                                            <th>Statut du paiement</th>
                                                            <th>Status</th>
                                                            <th>Total</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        {% for order in orders_list %}
                                                        <tr>
                                                            <td>Facture_N°{{order.id}}</td>
                                                            <td>{{order.order_date|date:'d F Y'}}</td>

                                                            {% if order.paid_status == True %}
                                                            <td class="text-success text-center"><i
                                                                    class="fa fa-check-circle text-center"></i></td>
                                                            {% else %}
                                                            <td class="text-danger text-center"><i
                                                                    class="fa fa-times text-danger"></i></td>
                                                            {% endif %}

                                                            <td>{{order.product_status|title}}</td>
                                                            <td>{{order.price|intcomma}} GNF</td>
                                                            <td><a href="{% url 'core-order-detail' order.id %}"
                                                                    class="btn-small d-block">Voir</a></td>
                                                        </tr>
                                                        {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="track-orders" role="tabpanel"
                                    aria-labelledby="track-orders-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">Merci de faire le choix et remplir le formulaire</h5>
                                        </div>
                                        <div class="card-body">
                                            <p>From your account dashboard. you can easily check &amp; view your <a
                                                    href="#">recent orders</a>, manage your <a href="#">shipping and
                                                    billing addresses</a> and <a href="#">edit your password and account
                                                    details.</a>
                                                </p>
                                                <a href="{% url 'prefinancement-terrain' %}" class="btn btn-sm"><span>Terrain </span><span><i class=""></i></span></a>
                                                <a href="{% url 'prefinancement-terrain' %}" class="btn btn-sm"><span>Construction </span><span><i class=""></i></span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                    <div class="row">
                                        <div>
                                            <form action="" method="POST">
                                                {% csrf_token %}
                                                <div class="card-header mb-5">
                                                    <h5>Ajoutez l'adresse</h5>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <input type="text" class="form-control" placeholder="Adresse..."
                                                            name="address" id="address" required>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <input type="text" class="form-control"
                                                            placeholder="Téléphone..." name="mobile" id="mobile"
                                                            required>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <button type="submit"
                                                            class="btn btn-fill-out submit font-weight-bold"
                                                            name="submit">Enregistrer l'adresse</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        {% for address in address %}
                                        <div class="col-lg-6">
                                            <div class="card mb-3 mb-lg-0">
                                                <div class="card-header">
                                                    <h5 class="mb-0">Adresse {{forloop.counter}}</h5>
                                                </div>



                                                <div class="card-body border-rounded">
                                                    <address>

                                                        <p>{{address.address}}</p>
                                                        <p>{{address.mobile}}</p>
                                                        <p>{{address.status}}</p>

                                                    </address>

                                                    {% if address.status %}
                                                    <i data-address-id="{{address.id}}"
                                                        class="fa fa-check-circle text-success check{{address.id}} check"
                                                        aria-hidden="true"></i>
                                                    <button data-address-id="{{address.id}}" style="display: none;"
                                                        class="btn make-default-address button{{address.id}} action_btn">Par
                                                        défaut</button>
                                                    {% else %}
                                                    <i data-address-id="{{address.id}}" style="display: none;"
                                                        class="fa fa-check-circle text-success check check{{address.id}}"
                                                        aria-hidden="true"></i>
                                                    <button data-address-id="{{address.id}}"
                                                        class="btn make-default-address button{{address.id}} action_btn">Par
                                                        défaut</button>
                                                    {% endif %}

                                                    <!-- <a href="#" class="btn-small">Edit</a> -->
                                                </div>

                                            </div>
                                        </div>
                                        {% endfor %}
                                        <!-- <div class="col-lg-6">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">Shipping Address</h5>
                                                </div>
                                                <div class="card-body">
                                                    <address>4299 Express Lane<br>
                                                        Sarasota, <br>FL 00000 USA <br>Phone: 1.000.000.0000</address>
                                                    <p>Sarasota</p>
                                                    <a href="#" class="btn-small">Edit</a>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="account-detail" role="tabpanel"
                                    aria-labelledby="account-detail-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Account Details</h5>
                                        </div>
                                        <div class="card-body">
                                            <p>Already have an account? <a href="login.html">Log in instead!</a></p>
                                            <form method="post" name="enq">
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label>First Name <span class="required">*</span></label>
                                                        <input required="" class="form-control square" name="name"
                                                            type="text">
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label>Last Name <span class="required">*</span></label>
                                                        <input required="" class="form-control square" name="phone">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label>Display Name <span class="required">*</span></label>
                                                        <input required="" class="form-control square" name="dname"
                                                            type="text">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label>Email Address <span class="required">*</span></label>
                                                        <input required="" class="form-control square" name="email"
                                                            type="email">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label>Current Password <span class="required">*</span></label>
                                                        <input required="" class="form-control square" name="password"
                                                            type="password">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label>New Password <span class="required">*</span></label>
                                                        <input required="" class="form-control square" name="npassword"
                                                            type="password">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label>Confirm Password <span class="required">*</span></label>
                                                        <input required="" class="form-control square" name="cpassword"
                                                            type="password">
                                                    </div>
                                                    <div class="col-md-12">
                                                        <button type="submit" class="btn btn-fill-out submit"
                                                            name="submit" value="Submit">Save</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    const labels = {{ month| safe}}

    const data = {
        labels: labels,
        datasets: [{
            label: 'Commandes',
            backgroundColor: '#004080',
            borderColor: '#004080',
            data: {{ total_orders| safe}},
      }]
    };

    const config = {
        type: 'bar',
        data: data,
        options: {}
    };
    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
</script>

{% endblock content %}